h1 {
  font-family: var(--prio-font);
  color: var(--hero-h1color);
  font-size: 96px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 30px;
  color: var(--hero-h1color);
}
p {
  line-height: 1.5;
  font-size: 20px;
}

:root {
  --hero-backcolor: #e1e5ea;
  --hero-h1color: #da7f8f;
  --branding-color: #a7bbc7;
  --prio-font: "Archivo Black", sans-serif;
  --second-font: "Quicksand", sans-serif;
}
.hero-body {
  background: var(--hero-backcolor);
  text-align: center;
  padding: 160px 20px;
  font-family: var(--second-font);
}
.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  padding: 18px 15px;
}

.btn-project1 {
  border-color: var(--hero-backcolor);
  color: var(--branding-color);
  border-radius: 4px;
  font-size: 14px;
  padding: 15px 10px;
}

.project-description {
  padding: 30px 60px;
}

.cat-site-image {
  border: 2px solid rgb(206, 202, 202);
}

.content-h1 {
  font-family: var(--prio-font);
  color: var(--hero-h1color);
  font-size: 65px;
}
.content-h2 {
  font-size: 30px;
  font-family: var(--second-font);
}
.content-p {
  font-size: 20px;
  font-family: var(--second-font);
}
.skill-icon-image {
  padding: 0px;
}
.about-me-image {
  max-width: 500px;
}
.content-section {
  padding: 0;
  text-align: center;
}

.project-cat-image {
  max-width: 85%;
}

.logo {
  max-height: 50px;
}

nav {
  padding: 10px 0;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  padding: 0 10px;
  list-style-type: none;
  line-height: 45px;
}
nav a {
  text-decoration: none;
  color: black;
}

nav a:hover,
nav li.active a {
  color: var(--hero-h1color);
}

footer .social-link a {
  margin: 0 20px;
  color: var(--branding-color);
  font-size: 30px;
  transition: all 100ms ease-in-out;
}

footer .social-link a:hover {
  color: var(--hero-h1color);
}

footer {
  margin: 50px 0;
}

footer p {
  font-size: 15px;
}

@media (max-width: 960px) {
  .project-description {
    padding: 0;
    text-align: center;
    transition: all 100ms eas-in-out;
  }
  .content-h1 {
    font-size: 45px;
    text-align: center;
  }
  .content-h2 {
    text-align: center;
  }

  .hero-body {
    padding: 70px 20px;
  }
}
